<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-kiosk-fixed" version="0.4">

    <name>Cordova Kiosk Mode Fixed</name>
    <author>Jan Kalina / Yiğit ARSLAN Fork</author>
    <description>
        Cordova plugin to create Cordova application with "kiosk mode".
        Updated for Android 12+ (android:exported attributes added).
        Duplicate activity issues resolved.
    </description>
    <keywords>cordova, launcher, homescreen, kiosk, kiosk mode</keywords>

    <engines>
        <engine name="cordova" version=">=10.0.0" />
    </engines>

    <js-module src="kiosk.js" name="kioskPlugin">
        <clobbers target="window.KioskPlugin" />
    </js-module>

    <platform name="android">

        <!-- Feature -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KioskPlugin">
                <param name="android-package" value="jk.cordova.plugin.kiosk.KioskPlugin" />
            </feature>
        </config-file>

        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="jk.cordova.plugin.kiosk.KioskActivity"
                android:keepScreenOn="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.HOME"/>
                </intent-filter>
            </activity>
        </config-file>

        <!-- Broadcast Receiver -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                android:name="jk.cordova.plugin.kiosk.MyPackageReplacedEventReceiver"
                android:enabled="true"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                </intent-filter>
            </receiver>
        </config-file>

        <!-- Permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.REORDER_TASKS"/>
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        </config-file>

        <!-- Source files -->
        <source-file src="android/KioskActivity.java" target-dir="app/src/main/java/jk/cordova/plugin/kiosk" />
        <source-file src="android/KioskPlugin.java" target-dir="app/src/main/java/jk/cordova/plugin/kiosk" />
        <source-file src="android/MyPackageReplacedEventReceiver.java" target-dir="app/src/main/java/jk/cordova/plugin/kiosk" />
        <source-file src="android/StatusBarOverlay.java" target-dir="app/src/main/java/jk/cordova/plugin/kiosk" />

    </platform>

</plugin>
